.boxShadow {
  -webkit-box-shadow: 3px 3px 6px #ddd;
  -moz-box-shadow: 3px 3px 6px #ddd;
  box-shadow: 3px 3px 6px #ddd;
}
#scope-workspace {
  float: left;
  padding: 20px 0 0;
  position: relative;
  margin-bottom: 70px;
  width: 100%;
}
#scope-workspace #header {
  display: inline-block;
  margin: 0 0 20px;
  width: 100%;
}
#scope-workspace #header h2 {
  float: left;
}
#scope-workspace .loading {
  background: rgba(240, 240, 240, 0.97) url('../../img/loading.gif') 50% 40% no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 77px;
  width: 100%;
  z-index: 16;
}
#scope-workspace #toolbar {
  float: right;
  padding: 2px 10px 10px;
}
#scope-workspace #search input {
  border: 1px solid #ddd;
  padding: 5px;
  width: 220px;
}
#content ul {
  margin-left: -20px;
}
#content li {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 6px #ddd;
  -moz-box-shadow: 3px 3px 6px #ddd;
  box-shadow: 3px 3px 6px #ddd;
  border: 1px solid #eee;
  float: left;
  height: 269px;
  margin: 0 0 20px 20px;
  width: 297px;
}
#content li .theme {
  padding: 10px;
}
#content li .wrapper {
  border-bottom: 2px solid #171717;
  overflow: hidden;
}
#content li .wrapper img {
  height: 124px;
  width: 252px;
}
#content li .wrapper .details {
  background: url('../../img/sprite.png') 0 -122px no-repeat;
  color: #fff;
  margin: 0 10px;
  overflow: hidden;
  padding: 5px 6px;
  position: relative;
  width: 244px;
}
#content li .wrapper .details .scope {
  background: url('../../img/sprite.png') -265px -50px no-repeat;
  display: block;
  height: 23px;
  position: absolute;
  right: 10px;
  top: 7px;
  width: 23px;
}
#content li .wrapper h3 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
#content li .wrapper h3 span {
  font-size: 12px;
}
#content li .top {
  margin: 5px 0 0;
}
#content li .top .screenshot {
  background: url('../../img/sprite.png') 0 2px no-repeat;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  height: 124px;
  margin: 0 10px;
  width: 252px;
}
#content li .top .meta {
  margin: 0 10px;
  overflow: hidden;
  padding: 10px 0;
}
#content li .top .meta a,
#content li .top .meta span {
  display: block;
  text-decoration: none;
}
#content li .top .meta .author {
  float: left;
}
#content li .top .meta .scope {
  float: right;
}
#content li .bottom {
  margin: 0 10px;
}
#content li .bottom a {
  background-color: #4d9ec4;
  color: #fff;
  display: block;
  float: left;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
#content li .bottom a.activate {
  background-color: #ce4831;
  float: right;
}
#content li.active {
  background-color: #1b1b1b;
}
#content li.active .meta,
#content li.active .meta a {
  color: #fff;
}
.icon-scopetemplateresource .x-tree-node-icon {
  background-image: url(../../img/page_white_php.png) !important;
}
