@colorPreview: #4d9ec4;
@colorActivate: #ce4831;
@colorActivateDisabled: #ccc;
@scopePosition: -265px -50px;
@activeScopePosition: -265px -4px;

// Mixins
.assets (position, @pos: 0 0) {
    background-position: @pos;
}
.assets (@pos: 0 0) {
    background: url('../../img/sprite.png') @pos no-repeat;
}

.boxShadow {
    -webkit-box-shadow: 3px 3px 6px #ddd;
    -moz-box-shadow: 3px 3px 6px #ddd;
    box-shadow: 3px 3px 6px #ddd;
}

#modx-content {

}

#scope-workspace {
    float: left;
    padding: 20px 0 0;
    position: relative;
    margin-bottom: 70px;
    width: 100%;
    #header {
        display: inline-block;
        margin: 0 0 20px;
        width: 100%;
        h2 {
            float: left;
        }
    }
    .loading {
        background: rgba(240,240,240,0.97) url('../../img/loading.gif') 50% 40% no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        top: 77px;
        width: 100%;
        z-index: 16;
    }
    #toolbar {
        float: right;
        padding: 2px 10px 10px;
    }
    #search {
        input {
            border: 1px solid #ddd;
            padding: 5px;
            width: 220px;
        }
    }
}

#content {
    ul {
        margin-left: -20px;
    }
    li {
        background-color: #fff;
        .boxShadow;
        border: 1px solid #eee;
        float: left;
        height: 269px;
        margin: 0 0 20px 20px;
        width: 297px;
        .theme {
            padding: 10px;
        }
        .wrapper {
            border-bottom: 2px solid #171717;
            overflow: hidden;
            img {
                height: 124px;
                width: 252px;
            }
            .details {
                .assets (0 -122px);
                color: #fff;
                margin: 0 10px;
                overflow: hidden;
                padding: 5px 6px;
                position: relative;
                width: 244px;
                .scope {
                    .assets (@scopePosition);
                    display: block;
                    height: 23px;
                    position: absolute;
                    right: 10px;
                    top: 7px;
                    width: 23px;
                }
            }
            h3 {
                font-size: 22px;
                font-weight: normal;
                margin: 0;
                span {
                    font-size: 12px;
                }
            }
        }
        .top {
            margin: 5px 0 0;
            .screenshot {
                .assets (0 2px);
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                float: left;
                height: 124px;
                margin: 0 10px;
                width: 252px;
            }
            .meta {
                margin: 0 10px;
                overflow: hidden;
                padding: 10px 0;
                a, span {
                    display: block;
                    text-decoration: none;
                }
                .author {
                    float: left;
                }
                .scope {
                    float: right;
                }
            }
        }
        .bottom {
            margin: 0 10px;
            a {
                background-color: @colorPreview;
                color: #fff;
                display: block;
                float: left;
                font-size: 16px;
                padding: 10px 10px;
                text-align: center;
                text-decoration: none;
                width: 100px;
                &.activate {
                    background-color: @colorActivate;
                    float: right;
                }
            }
        }
    }
}

#content li.active {
    background-color: #1b1b1b;
    .meta, .meta a {
        color: #fff;
    }
}

.icon-scopetemplateresource .x-tree-node-icon {
    background-image: url(../../img/page_white_php.png) !important;
}
